.container-login-general {
    /* background-image: url("../Assets/rev-background.jpg");
    background-size: 100%;
    height: 100vh;
    width: 100%;
    max-width: 700px;
    max-height: 500px; */
    background-color: #ccc;
}

.container-login-general {
    width: 100%;
    height: 100%;
    font-size: 24px;
    position: relative;
}

.container-login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container-login-mobile {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.login-content-mobile {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    align-items: center;
    justify-content:flex-end;
    position: relative;
}

.login-header-mobile {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20%;
}

.login-info-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 30%;
    justify-content: center;
}

.login-info-mobile input {
    border: none;
    width: 100%;
    height: 45%;
    padding: 0 1em;
    background-color: transparent;
    border-bottom: 1px solid #FDFDFD;
    outline: none;
    font-size: 0.4em;
}

.login-checkbox-mobile {
    width: 100%;
    height: 10%;
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.3em;
}

.login-checkbox-mobile .button-recover-password {
    border: none;
    height: 60%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    color: rgb(40, 40, 75);
    background-color: transparent;
    border-radius: 0;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}

.login-checkbox-mobile .container-login-checkbox {
    height: 60%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}

.login-checkbox-mobile .container-login-checkbox .checkbox {
    height: 1.5em;
    border: 1px solid #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding: 0;
    margin: 0;
    width: 1.5em;
    border-radius: 0;
    background-color: transparent;
}


.login-buttons-mobile {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}

.login-buttons-mobile button {
    width: 100%;
    height: 35%;
    transition: 1s;
    background-color: transparent;
    border: 1px solid #FDFDFD;
    color: #fdfdfd;
    border: none;
    font-size: 0.4em;
    font-weight: 600;
}

.login-buttons-mobile button:hover{
    background-color: #c7c7c7;
    color: #282828
}

/* .video-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    max-width: 100%;
} */

@media screen and (max-width: 768px){
    .container-login {
        display: none;
    }

    .container-login-mobile {
        display: flex;
        font-size: 2em;
    }
}

@media screen and (max-width: 1024px){

    .container-login {
        padding-left: 200px;
        font-size: 2em;
    }
}

@media screen and (max-width: 1920px){

    .container-login {
        padding-left: 300px;
        font-size: 2em;
    }
}

@media screen and (max-height: 600px){
    .login-content-mobile {
        width: 250px;
        height: 300px;
        font-size: 0.8em;
    }

    .login-header-mobile {
        width: 120px;
        height: 120px;
        border-radius: 60px;
    }
}